<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark header-shadow">
        <a class="navbar-brand text-light" href="#" [routerLink]="['/']">
            WACNet Station Data
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/about']">About/FAQ</a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<!-- 86px Is the height of the floating nav bar with all it's padding-->
<main role="main" style="padding-top: 86px; padding-bottom: 10px;">
    <a class="github-fork-ribbon right-top" href="https://github.com/drewf7/wacnet" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">This site is a fan project built using publicly available data from <a href="http://www.wrds.uwyo.edu/WACNet/Stations.html">The WACNet Stations List</a></span>
    </div>
</footer>