<div class="container-fluid">
    <div class="row">
        <ng-container *ngIf="timeSeriesGraphData else loadingGraph">
            <app-time-series-graph-component #stationGraph class="col-xs-12 col-xl-12" [graphTitle]="title" [dataset]="timeSeriesGraphData"
                [quickZoomButtons]="timeSeriesButtons" (graphReady)="onGraphReady($event)" (quickZoom)="onQuickZoom($event)"
                (datesSelected)="onDatesSelected($event)" [loadingData]="loadingGraphData">
            </app-time-series-graph-component>
        </ng-container>
    </div>
</div>

<ng-template #loadingGraph>
    <div class="col-xs-12 col-xl-12">
        <div class="d-flex justify-content-center">
            <img style="height: 250px;" src="assets/img/loading.svg">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>